<h1>Welcome,Home ,Your function are below there.</h1>
<a href="/Home/Compute">Compute</a> <br />
<a href="/Home/Me">Me</a>
<a href="/Home/Register">Go to Register</a>
<a href="/Student/Register">Go to Student Register</a>
<a href="/Course/Create">Go to create Course </a>