<head>
    <title>Student Detail Report</title>
</head>
<form action="/Report/StudentDetailFromCodeToCode" method="get" target="_blank">
    <div class="mb-3">
        <label class="form-label">From Code</label>
        <input type="text" class="form-control" name="FromCode" placeholder="From Code" required>
    </div>
    <div class="mb-3">
        <label class="form-label">From Code</label>
        <input type="text" class="form-control" name="ToCode" placeholder="To Code" required>
    </div>
    <div class="mb-3">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Show">
            <input type="reset" class="btn btn-primary" value="Cancel">
        </div>
    </div>
</form>