@model IList<TeacherDetail>
@{
    ViewData["Title"] = "Teacher Detail Report";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Teacher Detail Report</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Reports</a></li>
                    <li class="breadcrumb-item active"><a href="#">Teacher Detail Report</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<form action="/Report/TeacherDetailFromCodeToCode" method="get" target="_blank">
    <div class="mb-3">
        <label class="form-label">From Code</label>
        <select name="FromCode" class="form-control">
            <option value="so">--Select One--</option>
            @foreach (var item in Model) {
                <option value="@item.Code">@item.Code</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">From Code</label>
        <select name="ToCode" class="form-control">
            <option value="so">--Select One--</option>
            @foreach (var item in Model) {
                <option value="@item.Code">@item.Code</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Show">
            <input type="reset" class="btn btn-primary" value="Cancel">
        </div>
    </div>
</form>