<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Course</title>
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<form action="/Course/Create" method="post" >
    <div class="form-group">
        <label class="form-control">Fist Course Id </label>
        <input type="text" name="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label>First Couse Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>First Course StartDate</label>
        <input type="date" name="StartDate" class="form-control" />
    </div>
    <hr />
    <div class="form-group">
        <label>Second Course Id</label>
        <input type="text" name="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label>Second  Course Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Second Course StartDate</label>
        <input type="date" name="StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <input  type="submit" value="Create Course" class="btn btn-success"/>
    </div>
</form>
@if (@ViewBag.FirstCourseInfo != null)
{
    <h2>Frist Course Information @ViewBag.FirstCourseInfo</h2>
    <h2>Second Course Information @ViewBag.SecondCourseInfo</h2>
}

