@{
    ViewData["Title"] = "Fine Policy Entry";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Fine Policy Entry</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/FinePolicy/Entry">Fine Policy</a></li>
                    <li class="breadcrumb-item active"><a href="/FinePolicy/List">List</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

@if (ViewBag.AlreadyExistsMsg != null)
{
    <div class="alert alert-warning">
        @ViewBag.AlreadyExistsMsg
    </div>
}
<form action="/FinePolicy/Entry" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Fine Policy Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Rule</label>
        <input type="text" class="form-control" name="Rule" placeholder="Rule" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Fine Amount (MMK)</label>
        <input type="number" class="form-control" name="FineAmount" placeholder="Fine Amount" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Fine After Minutes</label>
        <input type="number" class="form-control" name="FineAfterMinutes" placeholder="Fine After Minutes" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Bath</label>
        <select name="BatchId" class="form-control">
            @foreach (var item in @ViewBag.Baths)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Apply</label>
        <input type="checkbox" class="form-control" name="IsEnable">
    </div>
    <div class="mb-3">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Entry">
            <input type="reset" class="btn btn-secondary" value="Cancel">
        </div>
    </div>
</form>
<script>
    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });
</script>
