@model IList<BatchViewModel>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @{
        ViewData["Title"] = "Student Entry";
    }
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Student Entry</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Student/Entry">Student</a></li>
                    <li class="breadcrumb-item active"><a href="/Student/List">List</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

@if (ViewBag.AlreadyExistsMsg != null)
{
    <div class="alert alert-warning">
        @ViewBag.AlreadyExistsMsg
    </div>
}
<form action="/Student/Entry" method="post">
    <div class="mb-3">
        <label class="form-label">Code</label>
        <input type="text" class="form-control" name="Code" placeholder="Student Code" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Student Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" placeholder="Student Email">
    </div>
    <div class="mb-3">
        <label class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" name="DOB" placeholder="Student Date Of Birth" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" name="Phone" placeholder="Student Phone">
    </div>
    <div class="mb-3">
        <label class="form-label">National Registration Card</label>
        <input type="text" class="form-control" name="NRC" placeholder="Student NRC" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Father Name</label>
        <input type="text" class="form-control" name="FatherName" placeholder="Father Name" required>
    </div>
     <div class="mb-3">
        <label class="form-label">Address</label>
       <textarea name="Address" class="form-control"></textarea>
    </div>
     <div class="mb-3">
        <label class="form-label">Bath Name</label>
        <select name="BathId" class="form-control">
            @foreach (var item in Model) {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Entry">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            </div>
    </div>
</form>

