<body style="background-color:gray">
    <p>this is my home.</p>
    <h1>this is home view page from Home/Index .</h1>
    @{
       int i=(int) @ViewBag.MyTime;
    }
    
    <div>
        <a href="/ContactUs/Index">Go to  Contact Us</a>
    </div>
</body>
