<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
    </tr>
    <tr>
        <td>
            Mg Mg
        </td>
        <td>mgmg@gmail.com</td>
        <td>+959256275319</td>
        <td>ygn</td>
    </tr>
    <tr>
        <td>
            Su Su
        </td>
        <td>susu@gmail.com</td>
        <td>+959256275319</td>
        <td>mdy</td>
    </tr>
    <tr>
        <td>
            Aye Aye
        </td>
        <td>ayeaye@gmail.com</td>
        <td>+959256275319</td>
        <td>npt</td>
    </tr>
    <tr>
        <td>
            Zin Zin
        </td>
        <td>zinzin@gmail.com</td>
        <td>+959256275319</td>
        <td>bgo</td>
    </tr>
    <tr>
        <td>
          Myo Myo Aung 
        </td>
        <td>myo@gmail.com</td>
        <td>+959256275319</td>
        <td>Ygn</td>
    </tr>
</table>