<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.js"></script>
<head>
    <script type="text/javascript">
        $("#btnRefresh").click(function (e) {
            var url = "/order/TellMeDateTime";
            e.preventDefault();
            $.get(url, null, function (data) {
                $("#now").html = data;
                alert(data);
            });
        });
    </script>
</head>
<form>
    <button id="btnRefresh" class="btn btn-primary">Tell me today date</button>
    <label>Current Date time is :</label><h1 id="now"></h1>
</form>

